* {
  margin: 0;
  padding: 0;
  border: 1px solid red;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff990;
  color: white;
}
h1 {
  font-size: 2rem;
  color: violet;
}
